body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}

.header {
  margin: 0 auto;
  max-width: 1400px;
  height: 765px;
  padding-top: 30px;
  background-image: url('../resources/hero-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  margin-bottom: 252px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 9px 12px 7px 9px;
  font-size: 42.414px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -4.666px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  background: #000;
  color: #1BFF07;
}

.nav li {
  display: inline-block;
}

.nav {
  width: 503px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-decoration: none;
  color: #FFF;
}

.header-box {
  width: 430px;
}

.header-description {
  margin-bottom: 29px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #FFF;
}

.header-title {
  width: 919px;
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -2.4px;
  color: #1BFF07;
}
