html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  width: 100%;
  background: white;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}


.logo {
  margin-top: 30px;
  margin-right: 576px;
  display: inline-block;
}

.nav {
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}

.nav li {
  margin-right: 60px;
  display: inline-block;
}


.nav__link {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}

.nav li:first-child {
  opacity: 0.5;
  text-decoration: underline;
}

.nav li:last-child {
  margin-right: 0;
}

.hero {
  margin-top: 74px;
  margin-bottom: 150px;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 956px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.8px;
}

.hero__box {
  position: relative;
  height: 500px;
  background-image: url('../resourses/interior.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  max-width: 430px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #FFFFFF;
}

.about {
  margin-bottom: 150px;
}

.about__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}

.about__text {
  margin-top: 30px;
  max-width: 1048px;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.35px;
  color: #121212;
}

.about__btn {
  margin-top: 30px;
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: #AD1818;
  color: #FFFFFF;
  cursor: pointer;
}

.projects {
  margin-bottom: 150px;
}

.project {
  margin-bottom: 90px;
}

.projects__list {
  margin-top: 30px;
}

.projects__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}

.project__box {
  margin-bottom: 15px;
  height: 450px;
}

.project__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project__title {
  margin-bottom: 15px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #121212;
}

.project__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #AD1818;
}


.projects__link {
  display: block;
  padding: 56px 0;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  line-height: 41px;
  border: 1px solid #AD1818;
  color: #AD1818;
}

.projects__link:hover {
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #AD1818;
  background: #AD1818;
}

.services {
  padding-top: 151px;
  padding-bottom: 150px;
  background: #121212;
}

.services__title {
  margin-bottom: 34px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.services__image {
  margin-bottom: 15px;
  height: 270px;
}

.service__image {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.service__item {
  margin-bottom: 60px;
}

.service__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #FFFFFF;
}


.gallery {
  margin: 0 auto;
  width: 1400px;
  height: 717px;
  background-image: url('../resourses/bedfoto.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__text {
  padding-top: 575px;
  width: 443px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #FFF;
}

.contacts__box {
  box-sizing: border-box;

}

.contacts__text {
  position: relative;
  display: block;
  margin-top: 186px;
  margin-bottom: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}

.contacts__text::before {
  position: absolute;
  left: -4px;
  bottom: 37px;
  content: url('../resourses/logo-iphone.png');
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.contacts__number {
  margin-bottom: 30px;
  display: block;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.8px;
  text-decoration: none;
  color: #121212;
}

.contacts__mail {
  margin-bottom: 160px;
  display: block;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.8px;
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  color: #121212;
}

.footer {
  padding-bottom: 30px;
  background: #121212;
}

.footer__nav {
  margin-top: 60px;
  margin-left: 345px;
  display: inline-block;
  vertical-align: top;
}

.footer__nav li {
  margin-right: 54px;
  display: inline-block;
}

.footer__nav__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.footer__text {
  display: block;
  margin-top: 87px;
  margin-left: 384px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.5;
  color: #FFF;
}

@media (max-width: 961px) {

  .hero__title {
    max-width: 802px;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.5px;
  }

  .hero__box {
    height: 400px;
    background-image: url('../resourses/tablet_interior.png');
  }

  .hero__text {
    bottom: 30px;
  }

  .hero {
    margin-bottom: 120px;
  }

  .about__text {
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: -3%;
  }

  .project {
    margin-bottom: 80px;
  }

  .project:last-child {
    margin-bottom: 100px;
  }

  .project__title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -3%;
  }

  .project__box {
    margin-bottom: 20px;
  }

  .projects {
    margin-bottom: 103px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 14px 0 13px;
  }

  .hero__title {
    margin-bottom: 25px;
    max-width: 348px;
    font-size: 30px;
    line-height: 31px;
    letter-spacing: -0.9px;
  }

  .hero__box {
    height: 304px;
    background-image: url('../resourses/mobile_interior.png');
  }

  .hero__text {
    max-width: 312px;
    left: 15px;
    bottom: 15px;
  }

  .hero {
    margin-bottom: 80px;
  }

  .about__title {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -3%;
  }

  .about__text {
    margin-top: 20px;
    max-width: 346px;
    font-size: 22px;
    line-height: 30px;
  }

  .about__btn {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -3%;
    border-radius: 4px;
  }

  .project {
    margin-bottom: 50px;
  }

  .project:last-child {
    margin-bottom: 60px;
  }

  .projects__title {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -3%;
  }

  .project__box {
    margin-bottom: 20px;
    height: 250px;
  }

  .project__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .project__title {
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -3%;
  }

  .project__link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -3%;
  }

  .projects__link {
    padding: 37px 0;
    font-size: 22px;
    line-height: 30px;
  }

  .projects {
    margin-bottom: 144px;
  }
}