body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: #000;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}

.header {
  margin: 0 auto;
  max-width: 1400px;
  height: 765px;
  padding-top: 30px;
  background-image: url('../resources/hero-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  margin-bottom: 252px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 9px 12px 7px 9px;
  font-size: 42.414px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -4.666px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 100px;
  background: #000;
  color: #1BFF07;
}

.nav li {
  display: inline-block;
}

.nav {
  width: 503px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-decoration: none;
  color: #FFF;
}

.header__box {
  width: 919px;
}

.header__description {
  margin-bottom: 29px;
  width: 430px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #FFF;
}

.header__title {
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -2.4px;
  color: #1BFF07;
}

.projects {
  padding-top: 150px;
  padding-bottom: 150px;
}

.projects__title {
  margin-bottom: 40px;
  width: 1048px;
  font-size: 55px;
  line-height: normal;
  letter-spacing: -1.65px;
  color: #FFF;
}

.project {
  position: relative;
}

.projects__list {
  margin-bottom: 80px;
}

.project__title {
  position: absolute;
  left: 50px;
  bottom: 94px;
  width: 401px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
  color: #FFF;
}

.project__description {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 506px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #FFF;
}


.projects__link {
  display: block;
  padding: 56px 85px;
  width: 582px;
  height: 153px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  text-decoration: none;
  color: #000;
  background: #1BFF07;
  cursor: pointer;
}

.projects__link:hover {
  padding: 56px 85px;
  width: 582px;
  height: 153px;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.421px;
  border-radius: 10px;
  border: 1px solid #1BFF07;
  color: #1BFF07;
  background: #000;
}

.competencies__title {
  margin-bottom: 48px;
  width: 1048px;
  font-size: 55px;
  line-height: normal;
  letter-spacing: -1.65px;
  color: #FFF;
}

.competencie__text {
  margin-bottom: 60px;
}

.competencie__title {
  margin-bottom: 15px;
  width: 1048px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
  color: #1BFF07;
}

.competencie__description {
  width: 778px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
  color: #FFF;
}


.competencie__image {
  margin-bottom: 16px;
  width: 45px;
  height: 44px;
}


.competencies__list {
  margin-bottom: 150px;
}

.services__title {
  margin-bottom: 74px;
  width: 403px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
  color: #FFF;
}

.service__text {
  padding: 40px 0 40px 40px;
  border-radius: 30px;
  background: #191C19;
}

.service__title {
  margin-bottom: 15px;
  width: 1048px;
  font-size: 55px;
  line-height: normal;
  letter-spacing: -1.65px;
  color: #1BFF07;
}

.service__description {
  width: 749px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
  color: #FFF;
}

.services__item {
  margin-bottom: 74px;
}